*{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;
    background: #71692c;
    display: flex;
    flex-direction: column;
}

header , main , aside , footer {
    border: solid 1px black none;
}

header{
    background-color: cornflowerblue;

    border-bottom: solid 5px #3360b3;
    width: 100%;
    padding: 10px;
    height: fit-content;

    position: relative;
}

aside{
    background-color: #8dafed;
    width: fit-content;
    height: 90vh;

    display: flex;
    flex-direction: column;

    position: sticky;
}

aside > button {
    color: #000f1b;
    text-decoration: none;
    text-align: left;

    background-color: cornflowerblue;
    padding: 10px;

    border: none;
    border-left: solid 10px #3360b3;
}

div{display: flex;
flex-direction: row-reverse;}

aside > button:hover {
    background-color: #3360b3;
    color:aliceblue;
    transition: ease 200ms;}

main {
    background-color: #b1c9f5;
    width: 100%;
    min-height: 90vh;
    height: fit-content;
    position: relative;

    display: flex;
    flex-direction: row-reverse;
}

#img-holder{
    width: fit-content;
    min-height: 40vh;
    max-height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#img-holder > img {width: 100%}

#desc-s {
    width: 100%;

    padding: 20px;
    overflow: scroll;
}
/* escondendo a scrollbar da seção de descrição */
::-webkit-scrollbar {
    display: none;
}

p{
    white-space: pre-line;
    overflow: scroll;

    font-size: small;
    word-spacing: 5px;
}

li{
    margin: 40px 20px;
}